Python 2.7-3.6
TensorFlow (preferably with GPU support): https://www.tensorflow.org/install/install_linux#installing_with_virtualenv 
OR Theano: http://deeplearning.net/software/theano/install_ubuntu.html
Keras: https://keras.io/#installation

